<!-- Sidebar scroll-->
<div class="scroll-sidebar">
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav">
    <ul id="sidebarnav">
      <li class="nav-small-cap">
        <i class="mdi mdi-dots-horizontal"></i>
        <span class="hide-menu">Personal</span>
      </li>
      <li class="sidebar-item">
        <a href="/" class="sidebar-link">
          <i class="mdi mdi-adjust"></i>
          <span class="hide-menu"> Dashboard </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/customer/addNewCustomer" class="sidebar-link">
          <i class="mdi mdi-account-multiple-plus"></i>
          <span class="hide-menu"> Add New Customer </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/customer/findCustomer" class="sidebar-link">
          <i class="mdi mdi-account-multiple-plus"></i>
          <span class="hide-menu"> Customer Details </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/sales/addSaleDetails" class="sidebar-link">
          <i class="mdi mdi-account-multiple-plus"></i>
          <span class="hide-menu"> Sales Details </span>
        </a>
      </li>
      <li class="sidebar-item">
        <a href="/inProcess/updateInprocessData" class="sidebar-link">
          <i class="mdi mdi-account-multiple-plus"></i>
          <span class="hide-menu"> In Details </span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->
