<!DOCTYPE html>
<html dir="ltr">
  <head>
    <%- include('layouts/head') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="main-wrapper">
      <!-- ============================================================== -->
      <!-- Preloader - style you can find in spinners.css -->
      <!-- ============================================================== -->
      <div class="preloader">
        <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Preloader - style you can find in spinners.css -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Login box.scss -->
      <!-- ============================================================== -->
      <div
        class="auth-wrapper d-flex no-block justify-content-center align-items-center"
        style="
          background: url(/static/assets/images/big/auth-bg.jpg) no-repeat
            center center;
        "
      >
        <div class="auth-box">
          <div id="loginform">
            <div class="logo">
              <span class="db"
                ><img src="/static/assets/images/favicon.png" alt="logo"
              /></span>
              <h5 class="font-medium m-b-20">Sign In</h5>
            </div>
            <!-- Form -->
            <div class="row">
              <div
                id="wrongAll"
                class="alert alert-danger"
                style="display: none"
              >
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-danger">
                  <i class="fa fa-exclamation-triangle"></i> Warning
                </h3>
                Incorrect username or password entered. Please try again.
              </div>
              <div class="col-12">
                <form class="form-horizontal m-t-20" id="loginform">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="ti-user"></i
                      ></span>
                    </div>
                    <input
                      id="email"
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Email"
                      aria-label="Email"
                      aria-describedby="basic-addon1"
                      name="username"
                      required
                    />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2"
                        ><i class="ti-pencil"></i
                      ></span>
                    </div>
                    <input
                      id="password"
                      type="password"
                      class="form-control form-control-lg"
                      placeholder="Password"
                      aria-label="Password"
                      aria-describedby="basic-addon1"
                      name="password"
                      required
                    />
                  </div>
                  <div
                    id="wrong-password"
                    class="invalid-feedback"
                    style="display: none"
                  >
                    Incorrect Password.
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck1"
                        />
                        <label class="custom-control-label" for="customCheck1"
                          >Remember me</label
                        >
                        <a
                          href="javascript:void(0)"
                          id="to-recover"
                          class="text-dark float-right"
                          ><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                      <button
                        class="btn btn-block btn-lg btn-info"
                        type="submit"
                      >
                        Log In
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center"
                    >
                      <div class="social">
                        <a
                          href="javascript:void(0)"
                          class="btn btn-googleplus"
                          data-toggle="tooltip"
                          title=""
                          data-original-title="Login with Google"
                        >
                          <i aria-hidden="true" class="fab fab fa-google"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="form-group m-b-0 m-t-10">
                    <div class="col-sm-12 text-center">
                      Don't have an account?
                      <a href="/auth/register" class="text-info m-l-5"
                        ><b>Sign Up</b></a
                      >
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="recoverform">
            <div class="logo">
              <span class="db"
                ><img src="/static/assets/images/favicon.png" alt="logo"
              /></span>
              <h5 class="font-medium m-b-20">Recover Password</h5>
              <span
                >Enter your Email and instructions will be sent to you!</span
              >
            </div>
            <div class="row m-t-20">
              <!-- Form -->
              <form class="col-12" action="index.html">
                <!-- email -->
                <div class="form-group row">
                  <div class="col-12">
                    <input
                      class="form-control form-control-lg"
                      type="email"
                      required=""
                      placeholder="Username"
                    />
                  </div>
                </div>
                <!-- pwd -->
                <div class="row m-t-20">
                  <div class="col-12">
                    <button
                      class="btn btn-block btn-lg btn-danger"
                      type="submit"
                      name="action"
                    >
                      Reset
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Login box.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper scss in scafholding.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper scss in scafholding.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right Sidebar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right Sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
      $('[data-toggle="tooltip"]').tooltip();
      $(".preloader").fadeOut();
      // ==============================================================
      // Login and Recover Password
      // ==============================================================
      $("#to-recover").on("click", function () {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
      });

      $(document).ready(() => {
        $("#loginform").submit((event) => {
          event.preventDefault();
          const formData = {
            username: $("#email").val(),
            password: $("#password").val(),
          };

          axios
            .post("/auth/login", formData)
            .then(function (res) {
              if (res.status === 200) {
                window.location.href = "/index/dashboard";
              }
            })
            .catch(function (error) {
              if (error.response.status === 401) $("#wrong-password").show();
              if (error.response.status === 500) $("#wrongAll").show();
              else console.error(error.message);
            });
        });
      });
    </script>
  </body>
</html>
