<!DOCTYPE html>
<html dir="ltr">
  <head>
    <%- include('layouts/head') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="main-wrapper">
      <!-- ============================================================== -->
      <!-- Preloader - style you can find in spinners.css -->
      <!-- ============================================================== -->
      <div class="preloader">
        <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Preloader - style you can find in spinners.css -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Login box.scss -->
      <!-- ============================================================== -->
      <div
        class="auth-wrapper d-flex no-block justify-content-center align-items-center"
        style="
          background: url(/static/assets/images/big/auth-bg.jpg) no-repeat
            center center;
        "
      >
        <div class="auth-box">
          <div>
            <div class="logo">
              <span class="db"
                ><img src="/static/assets/images/favicon.png" alt="logo"
              /></span>
              <h5 class="font-medium m-b-20">Sign Up to Admin</h5>
            </div>
            <!-- Form -->
            <div class="row">
              <div class="col-12">
                <div
                  id="errorBox"
                  class="alert alert-danger"
                  style="display: none"
                >
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 class="text-danger">
                    <i class="fa fa-exclamation-triangle"></i> Warning
                  </h3>
                  <p id="errorMessage">Please try again.</p>
                </div>
                <form id="register" class="form-horizontal m-t-20">
                  <div class="form-group row">
                    <div class="col-12">
                      <input
                        id="userName"
                        class="form-control form-control-lg"
                        type="text"
                        required=" "
                        placeholder="Name"
                        name="name"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12">
                      <input
                        id="email"
                        class="form-control form-control-lg"
                        type="text"
                        required=" "
                        placeholder="Email"
                        name="username"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12">
                      <select
                        id="role"
                        class="form-control form-control-lg"
                        required=" "
                        placeholder="Role"
                        name="role"
                      >
                        <option selected disabled value="">Select Role</option>
                        <option value="admin">Admin</option>
                        <option value="manegment">Manegment</option>
                        <option value="cre">C.R.E</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12">
                      <input
                        id="password"
                        class="form-control form-control-lg"
                        type="password"
                        required=" "
                        placeholder="Password"
                        name="password"
                      />
                      <div
                        id="wrong-password"
                        class="invalid-feedback"
                        style="display: none"
                      >
                        Password Not matched.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12">
                      <input
                        id="confirmPassword"
                        class="form-control form-control-lg"
                        type="password"
                        required=" "
                        placeholder="Confirm Password"
                        name="confirm_password"
                      />
                      <div
                        id="confirm-password"
                        class="invalid-feedback animated flash"
                        style="display: none"
                      >
                        Confirm password not match.
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                      <button
                        class="btn btn-block btn-lg btn-info"
                        type="submit "
                      >
                        SIGN UP
                      </button>
                    </div>
                  </div>
                  <div class="form-group m-b-0 m-t-10">
                    <div class="col-sm-12 text-center">
                      Already have an account?
                      <a
                        href="authentication-login1.html "
                        class="text-info m-l-5"
                        ><b>Sign In</b></a
                      >
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Login box.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper scss in scafholding.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper scss in scafholding.scss -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right Sidebar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right Sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/static/assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
      $('[data-toggle="tooltip "]').tooltip();
      $(".preloader ").fadeOut();

      $(document).ready(function () {
        $("#register").submit(function (event) {
          event.preventDefault();
          if ($("#password").val() !== $("#confirmPassword").val()) {
            $("#confirm-password").show();
            return;
          } else {
            const formData = {
              name: $("#userName").val(),
              username: $("#email").val(),
              role: $("#role").val(),
              password: $("#password").val(),
            };

            // Send POST request using Axios
            axios
              .post("/auth/register", formData)
              .then(function (res) {
                if (res.status === 200) {
                  window.location.href = "/index/dashboard";
                } else {
                  $("#errorMessage").html(
                    "Something went wrong, please try again later"
                  );
                  $("#errorBox").show();
                }
                // Handle success, such as showing a success message to the user
              })
              .catch(function (error) {
                if (error.response.status === 409) {
                  $("#errorMessage").html(
                    "Email is already registered. Please Sign in"
                  );
                  $("#errorBox").show();
                }
                if (error.response.status === 500) {
                  $("#errorMessage").html(
                    "Something went wrong, please try again later"
                  );
                  $("#errorBox").show();
                } else {
                  $("#errorMessage").html(
                    "Internal Server Error, please try again later"
                  );
                  $("#errorBox").show();
                }
                // Handle error, such as showing an error message to the user
              });
          }
        });
      });
    </script>
  </body>
</html>
